@charset "UTF-8";

body {
    background-color: rgb(223, 246, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: rgb(141, 124, 255);
}

h2 {
    color: rgb(132, 205, 180);
}

 p {
    text-align: justify;
}